{% extends 'medical/index.html' %}
{% load static %}
    <!-- Site Metas -->
    {% block title %}
    <title>About us | Tarragon Medics | Leading Medical  equipments suppliers</title>
    <meta property="og:url" content="https://www.tarragonhub.co.ke/about-us/" />
    <meta property="og:title" content="About us | Tarragon Medics | Leading Medical  equipments suppliers" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://tarragonhub.s3.amazonaws.com/static/medical/images/logo2.jpg" />
    <meta name="keywords" content="cheapest medical equipment, genuine medical equipment, medical equipments suppliers,about Tarragon Medics, Tarragon Medics information" />
    <meta name="description" content="Tarragon is a private company providing affordable medical Oxygen and other medical
                     supplies to health facilities in in Kenya. We are focused on improving access to quality health 
                     for all deserving populations in Africa." />
    <link rel="canonical" href="https://www.tarragonhub.co.ke/about-us/">
    <meta property="og:site_name" content="Tarragon Medics" />

    <!--For twitter-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.tarragonhub.co.ke/about-us/">
    <meta name="twitter:title" content="About us | Tarragon Medics | Leading Medical  equipments suppliers">
    <meta name="twitter:description" content="Tarragon is a private company providing affordable medical Oxygen and other medical
                     supplies to health facilities in in Kenya. We are focused on improving access to quality health 
                     for all deserving populations in Africa.">
    <meta name="twitter:creator" content="@danni_njaz">
    <meta name="twitter:image" content="https://tarragonhub.s3.amazonaws.com/static/medical/images/logo2.jpg">
    {% endblock title %}
    
    {% block slider %}

    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    {% endblock slider %}

    <!-- Start About Page  -->
    {% block content %}
    
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" >
                    <h1 class="noo-sh-title">We are <span>Tarragon</span></h1>
                    <div style="background: rgb(0, 0, 0);  color: #f1f1f1;padding:10px;border-radius:10px;background: rgba(0, 0, 0, 0.5); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    <p >"Tarragon is a private company providing affordable medical Oxygen and other medical
                     supplies to health facilities in Kenya. We are focused on improving access to quality health 
                     for all deserving populations in Africa."</p>
                     
                     <p> 
                     <h2> What Do We Do? </h2>
                     Supplies: Hospital furniture, Theater/ ICU equipment, Medical oxygen, Surgical gowns , Drapes, masks, caps, 
                     Flowmeters, drip stands Glucometer machines,test strips, Meshes, Gastrotomy tubes, stents, Biopsy guns, Lancets, PPE kits Gloves,
                       high flow nasal cannula ets
                      </p>
                      </div>
                    
                       
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="{% static 'medical/images/about-2.jpg' %}" alt="Tarragon Medics about us" />
                    </div>
                </div>
            </div>
            <div class="row my-5">
                
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Our Mission</h3>
                        <p>"To improve health outcomes of people living in Africa by providing healthcare solutions informed by evidence and relevant operations research</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3> Our Strategic Focus</h3>
                        <p> 
                        <ul>
                        <li> Strategic Advisory Services </li>
                        <li> Innovative Health Solutions </li>
                        <li> Sustainable Social Enterprise </li>
                        </ul>
                         </p>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Our Vision</h3>
                        <p>"To be Africa's leading healthcare solutions provider”</p>
                    </div>
                </div>
                
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Clients</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        
                        <div class="team-description">
                        <ol>
                        
                        
                       <li> Vihiga county referral hospital </li>
                    <li> AIC Kapsowar mission hospital </li>
                    <li> St. Lukes Hospital eldoret </li>
                    <li> Siaya County Referral Hospital </li>
                    <li> Bondo Sub-County Hospital </li>
                    <li> Fountain hospital Bungoma </li>
                    <li> Bungoma west Hospital </li>
                    <li> Living room international Hospital </li>
                    <li> NCCK Jumuia friends Hospital </li>
                     <li>  St. James Memorial Hospital, Butere       </li>
                    <li>  St. Elizabeth Hospital, Mbaga     </li>
                    <li>  Akala Health Centre       </li>
                    <li>  Sonak Community Medical Centre, Khwisero      </li>
                    
                        </ol>
                            

                        </div>
                        <hr class="my-0"> </div>
                </div>



                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        
                        <div class="team-description">
                        <ol>
                        
                        
                        
                    
                <li>  Pals Medical world     </li> 
                <li>  Maseno Mission Hospital    </li>
                <li>  St. Mary’s Hospital, Mumias </li>
                <li>  Fountain Healthcare, Eldoret </li>
                <li>  Madiany Sub-County Hospital </li>
                <li>  Matibabu Foundation Hospital, Ukwala </li>
                <li>  Bama Nursing Home, Siaya </li>
                <li>  Helmi Jonas, Uradi Health Centre </li>
                <li>  Ambira Sub-County Hospital </li>
                <li>  Got Agulu Sub-County Hospital </li>
                <li>  Owens Hospital, Bondo     </li>
                <li>  KEMRI-CDC-MAL (KSPZV1)        </li>
                <li>  Equator Medical Services, Luanda      </li>
                        </ol>
                            

                        </div>
                        <hr class="my-0"> </div>
                </div>





                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        
                        <div class="team-description">
                        <ol>
                        
                    <li>The Great Lakes Medical Centre, Luanda </li>
                    <li>  Port Florence Hospital, Kisumu        </li>
                    <li>  Avenue Healthcare, Kisumu     </li>
                    <li>  Inuka Hospital        </li>
                    <li>  Rang’ala Mission Hospital     </li>
                    <li>  Matangwe Hospital, Bondo      </li>
                    <li>  Dophil Nursing & Maternity Home, Luanda       </li>
                    <li>  Hope Medical Centre, Awasi        </li>
                    <li>  Disciples Of Mercy Health Centre, Kisumu      </li>
                    <li>  St. Anne Mission Hospital, Sega       </li>
                   
                        </ol>
                            

                        </div>
                        <hr class="my-0"> </div>
                </div>




                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        
                        <div class="team-description">
                        <ol>
                        
                        
                <li>    Asumbi Medical Centre, Homabay </li>
                <li> St. Paul Mission Hospital, Homabay     </li>
                <li> Awasi Catholic Mission Hospital </li>       
                <li> Cedar Hospital.        </li> 
                <li> Rapha Dialysis And Diagnostic Center     </li> 
                <li> Racecourse Hospital Eldoret. </li>    
                <li> Redcross Kenya.        </li>
                <li>  St. Elizabeth Hospital, Lwak      </li>
                <li>  God’s Will Medical Centre, Nyalenda (Kisumu)      </li>
                <li>  Ahero Medical Centre, Ahero       </li>
                <li>  Alexandria Cancer Center and Palliative Care Hospital, Eldoret </li>
                
                        </ol>
                            

                        </div>
                        <hr class="my-0"> </div>
                </div>
                
        </div>
    </div>
    {% endblock content %}
    <!-- End About Page -->
